<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="https://kit.fontawesome.com/9a42c180e9.js" crossorigin="anonymous"></script>
      <link rel="icon" type="image/x-icon" href="https://cdn.shopify.com/s/files/1/0015/6090/3792/files/Favicon_Para_Paquetes1_256x256_crop_center.png?v=1660266349">
    <title>Cotizador de Para Paquetes</title>
</head>
<body>
    <header>
        <nav>
            <span>
            </span>
        </nav>
        <hr>
    </header>
    <!-- INICIO CONTENIDO -->
    {% block %}{% endblock %}
    <!-- FIN CONTENIDO -->
    <footer>
        <span>© 2022 Para paquetes. Todos los derechos reservados.</span>
    </footer>
</body>
</html>